* 
{
    margin: 0;
    padding: 0;    
}
.clr 
{
    clear: both;  
}
ul, ol {
    list-style: none;
}
hr {
    display: none;
}
a:link, a:visited {
    font-size: 12px;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
fieldset, a img, img {
    border: none;
}
:focus {
    outline: none;
}
.hidden {
    display: none;
}
body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
}
#wrapper {
    overflow: hidden;
    position: relative;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}
.wrapper-main {
    position: relative;
    margin: 0px auto;
    width: 1200px;
}
/*======================================================HEADER===========================================*/
#header-top {
    border-bottom: 1px solid #7994a9;
    padding-bottom: 1px;
    position: relative;
    width: 100%;
    z-index: 1001;
    height: 32px;
}
#header-view {
    float: right;
    text-align: right;
    width: 100%;
}
#header-view, #header-view a{
    color: #646464;
    font-size: 12px;
    font-weight: 600;
    line-height: 32px;
    vertical-align: top;
}
#header-view span {
    color: #7994a9;
}
/*===login===*/
.box-logins {
    float: right;
    width: 300px;
}
#login
{
    background: #fff;
    border: solid 3px #0086c4;
    border-top: none;
    display: none;
    right: 0;
    top: 100%;
    position: absolute;
    padding: 15px 20px;
    text-align: left;
    width: 200px;
    z-index: 999;
}
#login .close
{
    background: url(../images/q-close.png) no-repeat left top;
    cursor: pointer;
    right: -18px;
    top:-18px;
    position:absolute;
    text-indent: -9999em;
    height: 36px;
    width: 36px;
}
#login .login-input
{
    overflow: hidden;
    padding: 3px 0;
    width: 100%;
}
.login-input .login-lb
{
    color: #333;
    display: block;
    text-align: left;
    text-transform: capitalize;
    line-height: 24px;
    width: 100%;
}
.login-text
{
    background: #fff;
    border: 1px solid #dcdcdc;
    color: #555;
    font-family: Arial;
    font-size: 12px;
    padding: 3px 9px;
    height: 20px;
    line-height: 20px;
    width: 180px;
}
.login-input .login-text
{
}
.login-input .btn-a
{
    float: left;
    margin: 20px 0 5px;
}
#login .link-for
{
    line-height: 20px;
    text-align: left;
}
#login .link-for a
{
    color: #06aef0;
    line-height: 20px;
    text-transform: none;
    text-decoration: underline;
}
#mask-bg
{
    background: url(../images/op-o-2.png) repeat left top;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
}
.btn-a, .btn-button
{
    background: #0086c4;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    line-height: 35px;
    text-transform: uppercase;
    padding: 0 20px;
    margin-left: 3px;
}
.btn-a:hover, .btn-button:hover,
.btn-a.show
{
    background: #e9121a;
    color: #fff;
    text-decoration: none;
}
/*=========*/
#header-view .link-a {
    margin: 0px 7px;
}
#header-view a {
    display: inline-block;
}
#header
{
    background-color: #fff;
    position: relative;
    z-index: 10;
}
#header .header-left
{
    float: left;
    padding: 20px 0 10px 10px;
    overflow: hidden;
    width: 30%;
}
#header .header-right
{
    float: right;
    padding-top: 20px;
    width: 65%;
}
.logo
{
    width: 148px;
}
.logo a, .logo img
{
    display: block;
    width: 100%;
}
#header .logo
{
    float: left;
}
#header .nameco
{
    overflow: hidden;
    margin-top: 29px;
}
.header-right .header-wrap {
    overflow: hidden;
    margin-bottom: 12px;
    width: 100%;
}
.wrap-hotline {
    float: left;
    text-align: left;
}
#languge {
    float: right;
    vertical-align: top;
    text-align: right;
    width: 75px;
    padding-top: 10px;
}
#hotline {
    background: url(../images/icon-phone.png) no-repeat left 3px;
    padding-left: 32px;
    margin-bottom: 17px;
    vertical-align: middle;
    line-height: 30px;
    color: #5e5d5d;
    font-size: 14px;
}
#hotline strong {
    color: #ec1d25;
    font-size: 22px;
}
#hotline span {
    background: url(../images/line-hotline.png) no-repeat center center;
    height: 17px;
    padding: 0 12px;
}
.header-wrap .wrap-search {
    background-color: #f0eeef;
    border-radius: 20px;
    overflow: hidden;
}
#search {
    width: 560px;
    height: 24px;
    overflow: hidden;
    z-index: 101;
    position: relative;
    padding: 9px;
    float: left;
    overflow: hidden;
}
#search .search-form {
    background: #fff;
    border: solid 1px #c6c6c6;
    width: 463px;
    overflow: hidden;
    float: left;
    border-radius: 20px 0px 0px 20px;
}
.search-form .search-input {
    overflow: hidden;
    padding: 0 22px;
}
.search-form .search-text {
    background: #fff;
    border: none;
    display: block;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    color: #848484;
    font-style: italic;
    width: 100%;
}
.search-form .select-box {
    float: right;
    margin: 0;
    width: 108px;
}
#search .search-btn {
    background: url(../images/btn-search.png) repeat-x left top;
    border: none;
    cursor: pointer;
    display: block;
    float: right;
    color: #fff;
    padding: 4px 16px;
    font-weight: 600;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.wrap-search .cart {
    color: #424242;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
    white-space: nowrap;
    vertical-align: top;
    padding: 4px 24px 4px 40px;
    position: relative;
    background: url(../images/cart.png) no-repeat left center;
}
/*======================================================MAIN=============================================*/
#wrapper #main-content {
    margin: 0 auto;
    overflow: hidden;
}
.wrap-in{
    position: relative;
    top: 0;
    left: 0;
}
.wrap-left {
    float: left;
    width: 265px;
    height: 463px;
    background-color: #c0e8fb;
}
.menu-about {
    height: auto;
}
.wrap-right {
    float: right;
    width: 935px;
    background: #fff url("../images/bg-menu.png") repeat-x left top;
    border-top: 1px solid #cccccc;
}
.wrap-center
{
    width: 100%;
    background: #fff url("../images/bg-menu.png") repeat-x left top;
    border-top: 1px solid #cccccc;
    position: relative;
    z-index: 99;
}
.guarantee-list 
{
    position: relative;
    width: 100%;
    z-index: 1;
}
.wrap-center #menu
{
    width: 78%;
}
#menu 
{
    list-style: none;
    padding-left: 15px;
    margin: 0 auto;
    background-color: #eaeaea;
    position: relative;
    z-index: 99;
}
#menu a
{
    color: #282828;
    position: relative;
}
#menu a:hover
{
    text-decoration: none;
}
#menu > li {
    float: left;
    background: #eaeaea url(../images/bg-menu.png) repeat-x left top;
}
#menu > li:last-child a {
    background: none;
}
#menu  li {
    position: relative;
}
#menu > li > a {
    float: left;
    display: block;
    padding: 0 28px;
    font-size: 14px;
    line-height: 36px;
    background: url(../images/line-menu.png) no-repeat right center;
}
#menu > li > a:hover, #menu > li.active > a {
    text-decoration: none;
    color: #0084c1;
}
#menu ul
{
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    white-space: nowrap;
}
#menu ul li {
    background-color: #0086c4;
    border-bottom: solid 1px #339ed0;
}
#menu ul li a {
    font-size: 14px;
    line-height: 24px;
    padding: 10px 12px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
#menu ul ul li a {
    text-transform: none;
}
#menu > li ul li a:hover {
    color: #fff;
    background-color: #ec1d25;
}
#menu > li > ul {
    left: 0;
    top: 100%;
}
#menu ul ul{
    left: 100%;
    top: 0;
    padding-left: 1px;
}
#menu .menu-right ul ul{
    left: auto;
    right: 100%;
    padding-left: 0;
    padding-right: 1px;
}
.icon-menu {
    text-align: right;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	/* padding-right: 2.5em;
	*padding-right: 1em; no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0.5em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,1);
}
    .sf-arrows > li > .sf-with-ul:after {
        border: none;
    }
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255, 1);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
#colAside {
    float: left;
    width: 227px;
    margin: 25px 19px;
}
.menu-list {
    list-style: none;
    padding: 25px 0;
    margin: 0;
    width: 100%;
}
.menu-list > li {
    /*background-color: #0086c4;*/
    margin-bottom: 2px;
}
.menu-list li a {
    background-color: #0086c4;
    color: #fff;
    display: block;
    font-size: 15px;
    line-height: 24px;
    padding: 10px 11px 10px 20px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 6px;
}
.menu-list li a:hover {
    background-color: #ec1d25;
    text-decoration: none;
}
.icona-right {
    display: block;
    height: 24px;
    line-height: 24px;
    width: 24px;
    float: right;
}
.menu-list ul a {
    background-color: #c0e8fb;
    color: #383838;
    text-transform: capitalize;
    font-size: 13px;
}
.menu-list ul li {
    border-bottom: 1px solid #acd0e1;
}
.menu-list ul li a:hover {
    color: #fff;
}
.menu-list ul li:last-child {
    border: none;
}
.icon-right {
    display: block;
    height: 24px;
    line-height: 24px;
    width: 24px;
    float: right;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    right: .5em;
    top: 50%;
    margin-top: -8px;
}
.ui-state-default .ui-icon {
    background-image: url('../images/ui-icons.png');
}
.ui-icon-circle-arrow-s {
    background-position: 0 -19px;
}
.ui-icon-circle-arrow-e {
    background-position: 0 0;
}
.ui-icon {
    width: 18px;
    height: 18px;
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.ui-accordion-content {
    max-height: 179px;
}
/*=====================================*/
.section-box
{
    border: solid 1px #e3e3e3;
    overflow: hidden;
    margin-bottom: 35px;
    width: 100%;
}
/*===================*/
.title, .title a
{
    color: #464646;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 34px;
    padding: 0 20px;
}
.title a
{
    display: block;
    padding: 0;
}
.title a:hover
{
    color: #ff6c00;
    text-decoration: none;
}
.head
{
    background: #fff;
    border-top: 3px solid #ec2327;
    width: 100%;
}
.head .title
{
    float: left;
    background-color: #ec2327;
    color: #fff;
}
.head .menu-control {
    color: #aeaeae;
    overflow: hidden;
    text-align: left;
}
.menu-control li {
    float: left;
}
#tabs .menu-control li:hover, #tabs .menu-control li.ui-state-active {
    background-color: #ec2327; 
}
#tabs .menu-control li a:hover, #tabs .menu-control li:hover a, #tabs .menu-control li.ui-state-active a{
    text-decoration: none;
    color: #fff;
}
.menu-control .link-tabs {
    margin: 0 15px;
    text-transform: uppercase;
}
.menu-control .link-all {
    background: url(../images/icon-1.png) no-repeat right center;
    padding-right: 30px;
    margin-left: 20px;
}
.menu-control a {
    color: #3b3b3b;
    font-size: 13px;
    font-weight: 600;
    line-height: 35px;
}
.head .control-right
{
    text-align: right;
    margin-right: 12px;
    float: right;
}
.control-right .link-tabs
{
    text-transform: none;
}
.control-right li {
    float: left;
}
.head .pager
{
    float: left;
    width: 73px;
}
.head .pager a
{
    background: url(../images/controls-4.png) no-repeat left top;
    display: block;
    float: left;
    text-indent: -9999em;
    height: 34px;
    width: 36px;
}
.head .pager .prev
{
    background-position: 0 0;
}
.head .pager .prev:hover
{
    background-position: 0 -36px;
}
.head .pager .next
{
    background-position: -36px 0;
    float: right;
}
.head .pager .next:hover
{
    background-position: -36px -36px;
}
/*===============*/
.wrap-tb
{
    overflow: hidden;
    width: 100%;
}
.tb-product
{
    border-collapse: collapse;
    margin-left: -1px;
}
.tb-product tr td
{
    border: solid 1px #dfdfdf;
    vertical-align: top;
}
.box-pro
{
    /*padding: 0 0 15px;*/
    position: relative;
    width: 240px;
}
.box-pro .icon-km
{
    right: -1px;
    top: 0;
    position: absolute;
    z-index: 10;
}
.box-pro .pro-name
{
    padding: 30px 20px 0;
}
.box-pro .pro-name a
{
    color: #282828;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
.box-pro .pro-name a span
{
    display: block;
    text-transform: uppercase;
}
.box-pro .pro-img
{
    display: block;
    text-align: center;
    padding: 15px 0;
    position: relative;
    height: 155px;
    width: 245px;
    margin: 0 auto;
    z-index: 1;
}
.box-pro .pro-img img
{
    display: inline-block;
    vertical-align: middle;
    max-height: 155px;
    max-width: 236px;
}
.box-pro .pro-name a:hover
{
    text-decoration: none;
}

.box-pro:hover .pro-name a
{
    color: #0086c4;
}
.box-price, .pro-bottom
{
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 12px;
}
.box-price
{
    padding: 15px 0 10px;
    width: 198px;
}
.box-price .price-lr, .pro-bottom .pro-lr 
{
    float: left;
    width: 54%;
    margin: 0 56px;
}
.box-price .discount
{
    color: #000;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}
.box-price .price
{
    color: #ec2327;
    font-size: 18px;
    font-weight: bold;
}
.box-price p
{
    color: #666;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
}
.box-price .price-old {
    color: #686868;
    vertical-align: top;
    font-size: 13px;
}
.box-price .price-del {
    font-size: 13px;
    color: #686868;
}
.donvisc {
    font-size: 13px;
    position: relative;
    padding-left: 3px;
}
.box-dis {
    top: 70px;
    left: 169px;
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../images/icon-sale.png) no-repeat left top;
    z-index: 99;
}
.box-dis strong {
    color: #fff;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.bh-box {
    bottom: 188px;
    left: 0;
    position: absolute;
    width: 109px;
    z-index: 99;
    background: url("../images/icon-bh.png") no-repeat left top;
}
.bh-box strong {
    color: #1cba10;
    display: block;
    font-size: 28px;
    height: 38px;
    line-height: 50px;
    text-align: center;
    width: 38px;
    position: relative;
    left: 4px;
    top: -6px
}
.pro-bottom a
{
    color: #444;
    font-size: 12px;
    font-style: italic;
    display: block;
}
.box-pro .cart
{
    background-color: #0086c4;
    border: solid 1px #dfdfdf;
    line-height: 32px;
    padding: 0 23px;
    font-size: 14px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}
.pro-bottom a:hover
{
    text-decoration: none;
}
.img-boxleft {
    width: 238px;
    height: 361px;
    display: block;
}
#main-content #col-left {
    float: left;
    width: 265px;
}
#main-content #col-right {
    float: right;
    width: 935px;
}
/*==========*/
.wrapright-main {
    float: left;
    padding-left: 25px;
    margin-top: 36px;
    width: 910px;
}
.head-2 {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.head-2 .title-3 {
    float: left;
}
.title-3
{
    color: #0086c4;
    font-size: 24px;
    line-height: 30px;
}
.wrap-text
{
    color: #282828;
    font-size: 14px;
    width: 100%;
    line-height: 24px;
}
.about-wrap .wrap-text
{
    padding: 22px 0 40px;
}
/*====news====*/
.news-list
{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.news-list .head-2
{
    width: 517px;
    margin: 0 auto;
    border-bottom: 1px solid #ec1d25;
    padding-top: 30px;
}
.head-2 .menu-control {
    margin: 0px 150px;
    width: 42%;
    overflow: hidden;
    text-align: center;
}
.head-2 .menu-control li {
    margin-right: 6px;
    border: 1px solid #0086c4;
    border-bottom: none;
}
.head-2 .menu-control li:hover, .head-2 .menu-control li.active {
    margin-right: 6px;
    border: 1px solid #ec1d25;
    border-bottom: none;
}
.head-2 .menu-control li:hover a, .head-2 .menu-control li.active a {
    color: #ec1d25;
    text-decoration: none;
}
.head-2 .menu-control li:last-child {
    
    margin-right: 0;
}
.head-2 .menu-control a 
{
    color: #0086c4;
}
.news-row
{
    overflow: hidden;
    width: 100%;
}
.news-row .section-box
{
    color: #363636;
    font-size: 14px;
    line-height: 22px;
    border: none;
    margin: 0;
}
.section-inbox {
    overflow: hidden;
    padding: 36px 65px 40px;
}
.section-box .section-img {
    display: block;
    float: left;
    width: 299px;
}
.section-box .section-content {
    overflow: hidden;
    padding-left: 25px;
}
.section-box .description
{
    margin-top: 20px;
}
.section-box .section-name a {
    color: #000;
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.section-box .section-name a:hover {
    color: #0086c4;
    text-decoration: none;
}
.news-row .section-img img {
    display: inline-block;
    vertical-align: middle;
    max-height: 192px;
    max-width: 299px;
}
.more-detail
{
    padding-top: 10px;
    padding-left: 25px;
    overflow: hidden;
    width: 100px;
}
.more-detail a {
    color: #fff;
    display: block;
    font-size: 13px;
    padding: 0 18px;
    line-height: 27px;
    background-color: #0086c4;
}
.more-detail a:hover {
    background-color: #ec1d25;
    text-decoration: none;
}
.more-detail span {
    padding-left: 6px;
}
/*===pager===*/
.pager {
    vertical-align: top;
    margin: 0;
    padding: 15px 0 30px;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: right;
    width: 80%;
    float: right;
}
.pager-line {
    border-top: solid 1px #cdcdcd;
    margin-top: 20px;
}
.pager a, .pager span {
    color: #282828;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    vertical-align: top;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin-left: 3px;
    min-width: 20px;
}
.pager .first, .pager .last, .pager .prev, .pager .next {
    background: url(../images/pager-bg.png) no-repeat left top;
    overflow: hidden;
    text-align: left;
    text-indent: -9999em;
    margin: 0;
    width: 20px;
}
.pager .first
{
    background-position: right top;
}
.pager .first:hover
{
    background: url(../images/pager-bg.png) no-repeat right bottom;
}
.pager .last
{
    background-position: -40px top;
}
.pager .last:hover
{
    background: url(../images/pager-bg.png) no-repeat -40px bottom;
}
.pager .prev
{
    background-position: left top;
}
.pager .prev:hover
{
    background: url(../images/pager-bg.png) no-repeat left bottom;
}
.pager .next
{
    background-position: -20px top;
}
.pager .next:hover
{
    background: url(../images/pager-bg.png) no-repeat -20px bottom;
}
.pager a:hover, .pager a.current, .pager span.current {
    background-color: #e9131d;
    color: #fff;
    text-decoration: none;
}
/*==========*/
#tabnews .ui-tabs-active
{
    border: 1px solid #ec1d25;
    border-bottom: none;
}
#tabnews .ui-tabs-active a
{
    color: #ec1d25;
}
/*===news-details===*/
.news-list .wrap-text
{
    margin: 40px 0 50px
}
.news-list .title
{
    color: #0086c4;
    font-size: 24px;
    text-transform: none;
    padding: 0;
}
.content
{
    padding-top: 23px;
    line-height: 30px;
    font-size: 14px;
    color: #363636;
}
/*===========*/
.wrapright-main .section-box
{
    margin-left: 36px;
    width: 874px;
    border: none;
}
.wrapright-main .slider-wrapper
{
    margin-bottom: 18px;
}
.wrapright-main .nivo-controlNav
{
    display: none;
}
.wrapright-main .pager-line
{
    border: none;
    margin: 0;
}
.wrapright-main .pager
{
    padding: 0 0 30px;
}
.wrap-tb.product .box-pro
{
    width: 290px;
}
.wrap-tb.product .box-pro .box-dis
{
    left: 220px;
}
.wrap-tb.product .box-pro .box-price
{
    width: 245px;
}
.wrap-tb.product .pro-bottom .pro-lr {
    width: 45%;
    margin: 0 80px;
}
.wrap-tb.product
{
    border-left: solid 1px #e3e3e3;
    border-right: solid 1px #e3e3e3;
}
.head .select-pager
{
    overflow: hidden;
    padding-left: 10px;
    padding-top: 4px;
    float: right;
}
.head .select-pager > span
{
    color: #838383;
    display: block;
    float: right;
    font-size: 13px;
    font-style: italic;
    line-height: 28px;
}
.head .select-pager .select-box
{
    float: right;
    margin: 0 10px;
    width: 70px;
}
.head .select-pager .select-box > div.selector
{
    border: solid 1px #c3c3c3 !important;
}
/*=======*/
.box-asibar {
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    overflow: hidden;
    float: left;
}
.title-a
{
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    float: left;
}
.list-nav {
    list-style: none;
    width: 100%;
    float: left;
}
.list-nav li {
    float: left;
    padding: 20px 0;
}
.list-nav .img-news img {
    float: left;
    width: 128px;
}
.list-nav .news-content {
    float: left;
    width: 123px;
    padding-left: 12px;
}
/*======product details======*/
.list-nav .box-pro 
{
    width: 265px;
    border: 1px solid #dfdfdf;
}
.box-asibar.asibar-detail {
    border: none;
}
.box-asibar.asibar-detail ul li {
    padding: 20px 0 0;
}
.box-asibar.asibar-detail ul li:last-child {
    padding: 20px 0;
}
.asibar-detail .pro-bottom .pro-lr {
    float: left;
    margin: 0 66px;
    width: 50%;
}
.asibar-detail .box-price {
    width: 225px;
}
.product-details {
    float: right;
    width: 100%;
    margin-bottom: 46px;
}
.product-details .details-left {
    position: relative;
    float: left;
    width: 462px;
}
.details-left #gallery {
    float: left;
    width: 480px;
}
#gallery a {
    display: block;
    margin-top: 10px;
    float: left;
    padding-right: 21px;
}
#gallery a:last-child {
    padding: 0;
}
#gallery img{
    border: 1px solid #dedede;
    max-height: 70px;
    max-width: 90px;
} 
#gallery a.active img{
	border:1px solid #dedede !important;
}
#gallery a:hover {
    text-decoration: none;
}
.product-details .details-right {
    float: right;
    width: 430px;
}
.details-right .title-details {
    color: #282828;
    font-size: 28px;
    line-height: 32px;
    font-weight: normal;
}
.details-right .content {
    font-size: 13px;
    line-height: 30px;
    color: #282828;
    text-align: justify;
}
.wrapright-main.details-pro .section-box {
    width: 892px;
    margin-left: 15px;
}
.details-left .zoomWrapper {
    border: 1px solid #dedede;
    position: relative;
}
.zoomContainer 
{
    z-index: 10;
}
.details-right  .wrap-code {
    font-size: 13px;
    line-height: 22px;
    margin: 20px 0;
    background-color: #c0e8fb;
}
.wrap-code .pro-code {
    float: left;
    width: 65%;
    font-style: italic;
    color: #5a5a5a;
    padding: 10px 0 9px 12px;
}
.wrap-code .pro-code strong {
    color: #282828;
    font-weight: 700;
    font-style: normal;
}
.detail-price {
    overflow: hidden;
    width: 100%;
    max-height: 125px;
}
.detail-price .box-price {
    float: left;
    width: 182px;
    padding: 0;
}
.detail-price .price-old, .detail-price .price-old .price-del, .detail-price .price-old .donvisc {
    font-size: 14px;
}
.detail-price .price {
    font-size: 24px;
    line-height: 32px;
}
.detail-dis {
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid #ec2327;
    border-radius: 30px;
}
.detail-dis strong {
    color: #ec2327;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.details-right .pro-bottom, .details-right .pro-bottom .pro-lr {
    margin: 0;   
    width: 55%;
    text-align: center;
}
.details-right .pro-bottom {
    padding: 20px 0 0;
}
.details-right .cart {
    background-color: #0086C4;
    border: 1px solid #dfdfdf;
    line-height: 32px;
    padding: 0 23px;
    font-size: 14px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #FFF;
    font-style: normal;
    font-weight: 600;
}
.tabs-detail {
    overflow: hidden;
    width: 100%;
    padding: 0 0 15px;
}
.tabs-detail .ui-tabs-nav {
    padding: 0 0 2px;
    margin: 0;
    list-style: outside none none;
    overflow: hidden;
    width: 100%;
}
.tabs-detail .ui-tabs-nav li {
    float: left;
    padding-right: 5px;
}
.tabs-detail .ui-tabs-nav a {
    background-color: #dddddd;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 7px 20px;
    border-radius: 5px;
    text-transform: uppercase;
}
.tabs-detail .ui-tabs-nav a:hover, .tabs-detail .ui-tabs-nav li.ui-tabs-active a {
    background-color: #ec2327;
    color: #fff;
    text-decoration: none;
}
.tabs-detail .tabs-content {
    padding-top: 30px;
    width: 100%;
}
.tabs-content .title-3 {
    text-transform: uppercase;
    padding-bottom: 22px;
}
.wrap-digital {
    width: 100%;
    overflow: hidden;
}
.wrap-digital .img-digital {
    width: 100%;
    text-align: center;
}
.wrap-digital .digital-content {
    width: 100%;
}
.tb-digital {
    font-size: 16px;
    color: #06000e;
    line-height: 20px;
    border-collapse: collapse; 
}
.tb-digital tr {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}
.tb-digital tr td {
    width: 240px;
    padding: 20px 10px;
    font-weight: 600;
    vertical-align: top;
}
.tb-digital tr td span {
    font-weight: 300;
}
.tb-digital tr td p {
    padding-bottom: 20px;
    height: 60px;
}
.tb-digital tr td:first-child {
    color: #0086c4;
    font-weight: 600;
    width: 135px;
}
.tb-digital tr td:last-child {
    width: 430px;
}
/*======csbh=======*/
.guarantee-list .head-2
{
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    background: url(../images/bg-head-2.png) repeat-x center center;
    position: relative;
    z-index: 10;
}
.guarantee-list .head-2 .menu-control {
    margin: 0 96px;
    width: 88%;
    overflow: hidden;
    text-align: center;
    height: 76px;
}
.guarantee-list .head-2 .menu-control li {
    margin-right: 2px;
    border: 1px solid #0086c4;
    background-color: #0086c4;
    border-bottom: none;
    width: 152px;
    height: 67px;
    position: relative;
}
.guarantee-list .head-2 .menu-control > li > a > .icon-down
{
    display: block;
    left: 50%;
    top: 100%;
    margin-left: -10px;
    position: absolute;
    width:0px;
    height:0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 7px solid #0085bc; /* Tam giác phía trên được đổ màu */
    opacity: 0;
	filter:alpha(opacity=0); 
}
.guarantee-list .head-2 .menu-control > li > a:hover > .icon-down, .guarantee-list .head-2 .menu-control > li:hover > a > .icon-down, .guarantee-list .head-2 .menu-control > li.ui-tabs-active > a > .icon-down
{
    opacity: 1;
	filter:alpha(opacity=100); 
	border-top: 7px solid #ec1d25;
}
.guarantee-list .head-2 .menu-control li:hover, .guarantee-list .head-2 .menu-control li.ui-tabs-active {
    border: 1px solid #ec1d25;
    border-bottom: none;
    background-color: #ec1d25;
}
.guarantee-list .head-2 .menu-control li:hover a, .guarantee-list .head-2 .menu-control li.ui-tabs-active a {
    color: #fff;
}
.guarantee-list .head-2 .menu-control li:last-child {
    margin-right: 0;
}
.guarantee-list .head-2 .menu-control li:first-child {
    width: 230px;
}
.guarantee-list .head-2 .menu-control a 
{
    color: #fff;
    display: block;
    padding: 10px 31px;
    display: block;
    line-height: 24px;
    margin: 0;
    min-height: 48px;
}
.guarantee-tabs
{
    border: 1px solid #b8b8b8;
    border-top: none;
    position: relative;
    left: 0;
    top: -38px;
    z-index: 1;
}
.wrap-guarantee
{
    overflow: hidden;
    padding: 56px;
}
.wrap-guarantee .img-guarantee img
{
    float: left;
    width: 354px;
    display: block;
}
.wrap-guarantee .guarantee-content
{
    float: left;
    width: 65%;
    padding-top: 12px;
    color: #363636;
    font-size: 14px;
    line-height: 28px;
}
.list-bh
{
    float: left;
    width: 100%;
    overflow: hidden;
}
.list-bh li
{
    float: left;
    width: 50%;
}
.box-bh
{
    border: 1px solid #b3cbd8;
    padding: 25px 30px 22px;
    margin: 7px 16px;
    box-shadow: 5px 5px 2px #E5E5E6;
}
.box-bh .title-bh
{
    color: #09537c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 10px;
}
.content-bh p {
    margin-bottom: 5px;
    vertical-align: top;
    padding-left: 25px;
    position: relative;
}
.content-bh .icon-p {
    display: block;
    vertical-align: top;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    width: 20px;
}
.content-bh, .content-bh a {
    color: #363636;
    font-size: 13px;
    line-height: 20px;
}
.title-2 {
    color: #09537c;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 12px;
}
.download-list {
    color: #484848;
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    padding: 0 0 25px;
    margin: 0;
    width: 100%;
}
.download-list li {
    border-bottom: solid 1px #e5e5e5;
    overflow: hidden;
    padding: 10px 0 10px 30px;
    width: 100%;
}
.download-list .download-link {
    display: block;
    float: right;
    font-size: 10px;
    line-height: 24px;
    margin-right: 12px;
}
.download-list .download-link span {
    display: block;
    float: left;
    padding-left: 23px;
    font-size: 13px;
    background: url(../images/icon-download.png) no-repeat left center;
    color: #0086c4;
}
.accordion-question {
    font-size: 14px;
    line-height: 28px;
    width: 100%;
}
.accordion-question .accordion-head {
    color: #09537c;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px 30px 10px 40px;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 2px solid #e5e5e5;
}
.accordion-head .icon-left {
    font-size: 30px;
    left: 20px;
    top: 6px;
    position: absolute;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    left: 0;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #0086c4;
    font-size: 18px;
    background-color: #0086c4;
    color: #fff;
}
.accordion-question .accordion-head .a-icon {
    color: #5a5a5a;
    font-weight: 700;
    left: auto;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    text-align: right;
}
.accordion-head .a-icon {
    display: block;
    height: 20px;
    line-height: 20px;
    left: 35px;
    top: 10px;
    position: absolute;
    width: 15px;
}
.accordion-question .accordion-content {
    border-top: none;
    display: none;
    padding: 10px 30px 20px 0;
}
.accordion-question .accordion-content .ask {
    color: #282828;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}
.accordion-question .accordion-content .desription {
    text-align: justify;
    border-left: 2px solid #cccccc;
    padding-left: 12px;
}
.accordion-question .accordion-content p {
    margin-bottom: 10px;
}
/*===contact===*/
.contact-wrapper {
    margin: 60px 0;
    overflow: hidden;
}
.contact-left {
    float: left;
    width: 460px;
}
.contact-left .address-contact, .contact-left .address-contact h2 {
    margin-bottom: 22px;
    float: left;
    font-size: 18px;
    line-height: 22px;
    color: #ea1d25;
}
.contact-left .address-contact {
    padding-left: 20px;   
}
.contact-left .address-contact h2 span {
    font-weight: normal;
}
.contact-left .address-content {
    float: left;
}
.address-content p {
    float: left;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 4px;
}
.address-content p, .address-content p a {
    color: #363636;
}
.address-content .icon-p {
    float: left;
    margin-top: 4px;
    padding-right: 9px;
}
.contact-right {
    float: right;
    width: 700px;
}
.send-mail {
    float: left;
    width: 100%;
    padding-left: 20px;
    padding-top: 17px;
    background: url(../images/line-contact.png) repeat-x left top;
}
.send-mail h2 {
    float: left;
    color: #4c4c4c;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}
.send-mail .node {
    color: #686868;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
    width: 445px;
    text-transform: uppercase;
    float: left;
}
.send-mail .form-group {
    float: left;
    width: 100%;
    overflow: hidden;
    margin-bottom: 9px;
    background: none;
}
.form-group .control-label {
    float: left;
    font-size: 13px;
    line-height: 26px;
    width: 80px;
    color: #686868;
}
.form-group .contact-input {
    overflow: hidden;   
}
.form-control {
    height: 34px;
    width: 100%;
    display: block;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    box-sizing: border-box;

}
.contact-input .form-control {
    line-height: 27px;
    padding: 0 12px;
    font-size: 13px;
    border-color: #cacaca;
    color: #383737;
}
.text-area .form-control {
    height: 102px;
    resize: none;
}
.form-control.text-2 {
    width: 220px;
}
.wcodes .form-control {
    float: left;
    height: 35px;
    line-height: 35px;
    width: 95px;
}
.wcodes .RadCaptcha {
    overflow: hidden;
    padding-left: 5px;
}
.error, .lb-error {
    color: #ff0000;
}
.btn-button .contact-input {
    padding-left: 58px;
}
.contact-input .btn-send{
    width: 92px;
    height: 26px;
    background-color: #0086c4;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 12px;
    border-radius: 20px;
}
.contact-input .btn-send:hover {
    background-color: #d40415;
}
.mapw {
    margin-left: -1px;
}
.map .map-content {
    overflow: hidden;
    height: 487px;
    width: 100%;
}
#mapwrap {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #D9D9D9;
    padding: 1px;
    overflow: hidden;
    box-sizing: border-box;
}
.contact .map, #mapwrap {
    height: 491px;
    width: 100%;
}
#map {
    height: 600px;
}
#map .box {
    width: 520px;
}
#map .box, #map .box a {
    font-size: 12px;
    line-height: 16px;
    color: #656565;
}
#map .box .wrap-mapbox {
    
}
#map .box .contact-1 {
    background: url(../images/icon-c-1.png) no-repeat 3px 5px;
}
#map .box .contact-2 {
    background: url(../images/icon-c-2.png) no-repeat 3px 5px;
}
#map .box .contact-3 {
    background: url(../images/icon-c-3.png) no-repeat 3px 5px;
}
#map .box p {
    padding: 12px 0 0 24px;
    margin: 0;
}
.wrap-mapbox {
    color: #707070;
    overflow: hidden;
}
.wrap-mapbox i {
    display: block;
    font-size: 11px;
    line-height: 16px;
}
.map-title {
    overflow: hidden;
    padding-top: 10px;
    position: relative;
    width: 100%;
}
.map-title .search-map {
    overflow: hidden;
    padding-right: 90px;
    position: relative;
    width: 350px;
}
.search-map .getdiretion {
    cursor: pointer;
    font-size: 11px;
    padding: 0 10px;
    right: 0;
    top: 1px;
    position: absolute;
    width: 90px;
}
.search-map .text-search, .search-map .getdiretion {
    background: #fff;
    border: solid 1px #ccc;
    color: #707070;
    display: block;
    font-size: 12px;
    height: 24px;
    line-height: 20px;
}
.search-map .search-inmap {
    overflow: hidden;
    padding-right: 3px;
}
.search-map .text-search {
    width: 100%;
}
/*====register====*/
.wrapper-register
{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.register-left
{
    width: 694px;
    float: left;
}
.register-right
{
    width: 506px;
    float: left;
}
.section-cart
{
    border: solid 1px #dfdfdf;
    margin-top: 36px;
    margin-bottom: 28px;
    padding-left: 65px;
    min-height: 848px;
}
.title-4 {
    color: #282828;
    font-size: 24px;
    font-weight: normal;
    padding: 45px 20px 23px;
    line-height: 34px;
}
.cart-w
{
    overflow: hidden;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 620px;
    font-size: 12px;
}
.register-box .wrap-register {
    border: none;
    margin: 0;
}
.registers {
    display: block;
}
.wrap-register h2 {
    color: #000;
    font-size: 18px;
}
.wrap-register .fsi {
    color: #828282;
    font-size: 12px;
    line-height: 22px;
}
.fsi {
    font-style: italic;
}
.wrap-register .addres-info {
    padding-top: 30px;
    width: 100%;
}
.addres-info .info-input {
    overflow: hidden;
    padding: 4px 0;
    width: 100%;
}
.info-input .info-lb {
    color: #000;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 32px;
    width: 100px;
}
.error-lb {
    color: #ff0000;
}
.info-input .info-text, .info-areatext {
    float: right;
    width: 260px;
}
.wrap-register .info-text {
    float: left;
    padding-right: 10px;
}
.wrap-register .ter {
    text-align: right;
}
.info-text .info-textbox {
    height: 20px;
    line-height: 20px;
    padding: 6px 12px;
    width: 232px;
}
.info-text .info-textbox, .info-text .box-select, .info-text-a .info-textbox {
    background: #f4f4f4;
    border: solid 1px #dcdcdc;
    color: #555;
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
}
.info-input .sex {
    color: #4a4a4a;
    font-size: 12px;
    margin-top: 5px;
}
.info-input .sex label {
    display: inline-block;
    margin-right: 15px;
    margin-left: 5px;
}
.info-text .box-select {
    padding: 3px;
    height: 32px;
    line-height: 32px;
    width: 260px;
}
.wrap-register .date {
    float: left;
    width: 90px;
}
.wrap-register .fr {
    float: right;
}
.wrap-register .ter {
    text-align: right;
}
.wrap-register .info-lb {
    padding-right: 10px;
    width: 70px;
}
.info-input .info-l16 {
    line-height: 16px;
}
.info-input .info-text-a {
    float: left;
    width: 435px;
}
.info-text-a .info-textbox {
    padding: 12px;
    resize: none;
    line-height: 20px;
    width: 411px;
}
.passnode {
    color: #807617;
    font-size: 11px;
    font-style: italic;
    width: 130px;
}
.wrap-register .check-text {
    padding-left: 80px;
    width: 400px;
}
.wrap-register .w-check {
    overflow: hidden;
    padding: 4px 0;
    width: 100%;
}
.info-text .check-ok {
    color: #252525;
    display: block;
    font-size: 12px;
    line-height: 18px;
}
.info-text .check-ok label {
    display: block;
    float: left;
    padding-left: 5px;
    width: 210px;
}
.info-text .check-ok input {
    float: left;
    margin-top: 3px;
}
.wrap-register .w-check label {
    color: #494949;
    width: 300px;
}
.info-text .btn-button {
    margin: 15px 0 0;
}
.register-right .section-cart
{
    border-left: none;
}
.cart-login
{
    width: 402px;
}
.wrap-register.login .addres-info
{
    padding-top: 16px;
}
.btn-app
{
    text-align: right;
    width: 100%;
}
.btn-register
{
    background: #0086c4;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    line-height: 35px;
    text-transform: uppercase;
    padding: 0 35px;
    margin-left: 3px;
    border-radius: 20px;
}
.wrap-register .btn-a, .wrap-register .btn-register
{
    float: left;
    background-color: #5e5e5e;
}
.btn-button-pt
{
    text-align: center;
    vertical-align: top;
    width: 100%;
}
/*.btn-a:hover, .btn-button:hover,
.btn-a.show
{
    background: #ff6c00;
    color: #fff;
    text-decoration: none;
}*/
/*====Tim kiem====*/
.form-search {
    background-color: #00aced;
    padding: 12px 0;
    overflow: hidden;
    width: 85%;
    margin: 15px 90px;
}
.form-search h2 {
    color: #fff;
    display: block;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0;
    margin-left: 22px;
    text-align: left;
    text-transform: uppercase;
    width: 160px;
    float: left;
    font-size: 15px;
}
.form-search .select-nobox {
    margin-right: 9px;
    float: left;
    width: 300px;
}
.form-search .search-btn {
    background: url(../images/search-btn2.png) no-repeat center center;
    border: none;
    cursor: pointer;
    display: block;
    height: 30px;
    width: 30px;
}
/*====cart===*/
.wrapper-cart
{
    background: #fff url(../images/cart-line.png) repeat-y 179px top;
    margin-bottom: 9px;
    width: 100%;
}
.wrapper-cart-bg
{
    background: url(../images/cart-bg.jpg) no-repeat left bottom;
    position: relative;
    min-height: 300px;
    width: 100%;
}
#col-asibar
{
    float: left;
    padding-bottom: 180px;
    padding-top: 80px;
    width: 180px;
}
#menu-cart
{
    clear: both;
    padding-left: 55px;
    list-style: none;
    width: 95px;
}
#menu-cart li
{
    background: url(../images/cart-line-1.png) repeat-y center top;
    padding-top: 32px;
    width: 100%;
}
#menu-cart li.first
{
    background: none;
}

#menu-cart li a
{
    background: #09537c;
	border-radius: 50%; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
	-moz-border-radius: 50%; /* Firefox */
    -webkit-border-radius: 50%; /* Safari and Chrome */
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-top: 30px;
    height: 65px;
    position: relative;
    text-align: center;
    width: 95px;
    z-index: 10;
}
#menu-cart li a .mask
{
    display: block;
    left: 50%;
    top: 99%;
    margin-left: -10px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #09537c;
    opacity: 1;
    filter: alpha(opacity=0);
}
#menu-cart li.active a .mask, #menu-cart li:hover a .mask
{
    border-top: 10px solid #ed1c24;
}
#menu-cart li.active a, #menu-cart li a:hover
{
    background-color: #ed1c24;
    color: #fff;
    text-decoration: none;
}
#col-content
{
    float: right;
    position: relative;
    min-height: 670px;
    width: 998px;
}
.wrapcart-content
{
    overflow: hidden;
    width: 100%;
}
.wrapcart-content .cart-content
{
    float: left;
    width: 770px;
}
.wrapper-cart .title-a
{
    color: #7b7b7b;
    float: left;
    font-family: Arial;
    font-size: 18px;
    font-style: italic;
    text-transform: none;
    line-height: 20px;
    padding-left: 15px;
    width: 280px;
}
.wrapper-cart .title-a h2
{
    color: #181818;
    font-size: 24px;
    line-height: 32px;
}
.wrapcart-content .head .head-right
{
    background: #fff url(../images/car-bbg.png) repeat-y 17px top;
    overflow: hidden;
}
.head-right h2
{
    background: url(../images/icon-car.png) no-repeat left top;
    color: #000;
    float: left;
    font-size: 16px;
    font-style: italic;
    line-height: 18px;
    padding: 4px 5px 5px 57px;
    text-align: right;
    width: 90px;
}
.head .head-right .text-box
{
    background: url(../images/icon-text.png) no-repeat left center;
    color: #444;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    overflow: hidden;
    padding: 4px 0 4px 32px;
}
.head-right .text-box strong
{
    color: #000;
}
.tb-cart, .tb-wrap
{
    border-collapse: collapse;
    border: solid 1px #d6d6d6;
    margin: 20px 0;
}
.tb-cart .col-1
{
    width: 508px;
}
.tb-cart .col-2
{
    width: 140px;
}
.tb-cart .col-3
{
    width: 135px;
    text-align: center;
}
.tb-cart .col-4
{
    width: 160px;
}
.tb-cart .col-5
{
    width: 72px;
}
.tb-cart th, .tb-cart tfoot td,
.tb-wrap > thead > tr > th
{
    background-color: #f7f7f7;
    text-align: left;
}
.tb-cart th
{
    padding-top: 10px;
    border: 1px solid #d9d9d9;
    text-align: center;
}
.tb-cart h2
{
    color: #000;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    word-spacing: -2px;
    line-height: 34px;
}
.tb-cart .title-5
{
    text-align: right;
    padding-right: 27px;
}
.tb-cart .col-1 h2
{
    padding-left: 20px;
}
.tb-cart h3
{
    color: #494949;
    font-size: 12px;
    font-weight: normal;
}
.tb-cart h3 strong
{
    color: #000;
    font-size: 16px;
    margin-right: 5px;
}
.tb-cart td
{
    padding: 5px 0;
    border: 1px solid #d9d9d9;
    text-align: center;
}
.tb-cart td:nth-child(2)
{
    border-left: none;
    text-align: left;
}
.tb-cart td:first-child
{
    border-right: none;
}
.tb-cart th:first-child
{
    text-align: left;
}
.tb-cart tbody td
{
    padding: 20px 0;
}
.tb-cart tfoot td .select-wrap
{
    float: right;
    margin-top: 3px;
    width: 186px;
    border: 1px solid #d8d8d8;
}
.tb-cart tfoot .col-4
{
    text-align: right;
    padding-right: 24px;
}
.tb-cart td .cart-img
{
    border: solid 1px #d6d6d6;
    margin-left: 20px;
    text-align: center;
    width: 90px;
}
.tb-cart td .cart-img img
{
    vertical-align: middle;
    max-height: 110px;
    max-width: 90px;
}
.tb-cart .number-input
{
    border: solid 1px #cacaca;
    color: #282828;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    width: 98px;
}
.tb-cart td .cart-des
{
    color: #494949;
    font-size: 12px;
}
.tb-cart .delete
{
    background: url(../images/icon-delete.png) no-repeat left top;
    display: block;
    margin: 0 auto;
    text-indent: -9999em;
    height: 20px;
    width: 20px;
}
.wrap-choise
{
    margin: 0 auto;
    overflow: hidden;
    width: 320px;
}
.wrap-choise h2
{
    float: left;
}
.wrapcart-content .cart-info
{
    float: right;
    width: 242px;
}
.wrapcart-content .cart-w
{
    width: 100%;
    padding: 0;
}
.wrapcart-content .title-4
{
    padding: 45px 0 18px;
}
.select-wrap div.selector, div.selector span {
    border: none;
    height: 30px;
    line-height: 30px;
}
.select-wrap div.selector
{
    background-color: #f7f7f7;
}
.btn-cart
{
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #5e5e5e;   
}
.btn-cart:hover
{
    background-color: #ed1c24;
}
/*===info cart===*/
.tb-infocart
{
    border-collapse: collapse;
    margin: 20px 0;
}
.tb-infocart .section-cart {
    border: solid 1px #dfdfdf;
    margin: 0;
    padding: 0;
    min-height: 310px;
}
.tb-infocart .tb-infocart
{
    padding: 45px 0 18px 35px;
}

.register-box .infocart {
    padding-left: 35px;
    padding-bottom: 34px;
    width: 462px;
}
.title-info
{
    color: #282828;
    font-size: 24px;
    font-weight: normal;
    padding: 45px 0 23px 35px;
    line-height: 34px;
}
.infocart .btn-register
{
    line-height: 30px;
    background-color: #5e5e5e;
    margin-top: 12px;
}
.info-register {
    border: 1px solid #d6d6d6;
    /*display: none;*/
    padding: 30px;
    margin-bottom: 35px;
    border-top: none;
}
.info-register .wrap-register
{
    width: 75%;
    margin: 0 auto;
    padding-left: 235px;
    display: none;
}
.box-register
{
    padding-bottom: 35px;
    width: 52%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
.title-box
{
    padding: 0;
}
.box-register .fsi
{
    font-style: normal;
    color: #949494;
    padding: 14px 0 12px;
}
.btn-box
{
    position: relative;
    top: 10px;
    right: 185px;
}
.btn-box, .btn-box a
{
    background-color: #5e5e5e;
    font-weight: 600;
    line-height: 30px;
    font-size: 14px;
}
.btn-box.show, .btn-a.show, .btn-box > .btn-a:hover
{
    background-color: #ed1c24;
    padding: 0 30px;
}
.btn-box > .btn-a
{
    padding: 0 30px;
    border-radius: 20px;
}
/*====info account===*/
.tb-infoacc, .tb-success {
    color: #7b7b7b;
    font-size: 12px;
    line-height: 20px;
}
.tb-infoacc > tbody > tr > td, .tb-infoacc > thead > tr > th {
    border: 1px solid #d6d6d6;
    vertical-align: top;
    padding: 20px 12px;
    border-bottom: none;
    border-top: none;
    background-color: #fff;
}
.tb-infoacc .title-info, .tb-success .title-info
{
    padding: 0;
}
.tb-infoacc .addres-info {
    width: 385px;
}
.info-text .info-area, .info-areatext {
    border: solid 1px #eaeaea;
    color: #6d6d6d;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    padding: 10px 12px;
    height: 140px;
    resize: none;
    width: 232px;
}
.info-text .h70 {
    height: 65px;
}
.info-areatext {
    overflow: auto;
    text-align: justify;
    height: 175px;
}
.list-cart {
    color: #3b3b3b;
    font-size: 12px;
    list-style: none;
    line-height: 30px;
    padding-top: 22px;
    width: 235px;
}
.list-cart li {
    padding: 7px 0;
}
.list-cart li img {
    vertical-align: middle;
    margin: 0 5px;
}
.tb-cart-2 {
    border-collapse: collapse;
    margin: 25px 0;
}
.tb-cart-2 th {
    vertical-align: top;
}
.tb-cart-2 .name {
    width: 100px;
}
.tb-cart-2 th h2 {
    font-weight: normal;
    text-transform: capitalize;
}
.tb-cart-2 td, .tb-cart-2 th h2 {
    color: #6c6c6c;
    font-size: 12px;
    line-height: 20px;
    padding: 3px 10px;
    text-align: left;
}
.tb-cart-2 .num {
    width: 55px;
}
.tb-cart-2 .price {
    width: 80px;
}
.tb-cart-2 tfoot td {
    text-align: right;
}
.tb-cart-2 td {
    border-bottom: solid 1px #dadada;
}
.tb-cart-2 td strong {
    color: #282828;
    display: block;
    text-align: left;
}
.tb-cart-2 tbody td
{
    border: none;
}
.tb-cart-2 tbody
{
    border-bottom: solid 1px #7f7f7f;
}
.btn-button-tk {
    text-align: center;
    padding-bottom: 50px;
    width: 70%;
    overflow: hidden;
}
.btn-button-tk a
{
    font-size: 14px;
}
.btn-order
{
    border-radius: 20px;
    line-height: 30px;
    background-color: #5e5e5e;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
}
.btn-order:hover, .btn-order:hover a
{
    background-color: #ed1c24;
}
/*===payment success===*/
.tb-success
{
    overflow: hidden;
    padding: 32px 40px;
    font-size: 14px;
}
.btn-button-ps
{
    width: 60%;
}
.title-success
{
    color: #282828;
    font-size: 14px;
    font-weight: 600;
    line-height: 34px;
}
.note a
{
    color: #09537c;
    font-weight: 600;
    font-size: 14px;
}
.note strong
{
    border: 1px solid #dadada;
    font-size: 16px;
    color: #555555;
    width: 130px;
    height: 30px;
    padding: 5px;
}
.note span
{
    color: #ec1d25; 
    font-weight: bold;
}
.code-dh
{
    padding: 12px 0;
}
/*======================================================FOOTER===========================================*/
#footer
{
    background-color: #09537c;
    padding: 15px 0;
    overflow: hidden;
}
#footer, #footer a {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}
#footer a:hover {
    text-decoration: none;
}
#footer h2 {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.footer-wrapper {
    background-color: #09537c;
    padding: 30px 0;
    width: 25%;
    float: left;
}
.copyright {
    border-top: 1px solid #3a7596;
    background-color: #09537c;
    padding: 3px 56px 0;
    line-height: 48px;
    text-align: center;
    color: #88c3e4;
    width: 100%;
    float: left;
}
.copyright a {
    color: #88c3e4 !important;
}
#footer .title-f {
    padding-bottom: 5px;
}
.title-f {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
#footer .footer-nav {
    margin-bottom: 20px;
}
#footer ul {
    padding: 0px;
    margin-bottom: 24px;
    list-style: none;
    width: 100%;
}
.footer-nav li a {
    display: block;
    padding: 8px 10px 8px 20px;
    position: relative;
}
.footer-nav .iconal {
    display: block;
    height: 18px;
    line-height: 16px;
    left: 7px;
    top: 10px;
    position: absolute;
    width: 20px;
}
.footer-address li {
    background-repeat: no-repeat;
    padding: 8px 5px 8px 28px;
}
.footer-address li.add-1 {
    background-image: url("../images/icon-fa-1.png");
    background-position: 4px 10px;
}
.footer-address li.add-2 {
    background-image: url("../images/icon-fa-2.png");
    background-position: 4px 10px;
}
.footer-address li.add-3 {
    background-image: url("../images/icon-fa-3.png");
    background-position: 4px 10px;
}
.footer-address li span
{
    font-size: 18px;
}
.form-email {
    overflow: hidden;
    padding: 10px 0px;
    width: 90%;
}
.form-email .email-input {
    float: left;
    width: 236px;
}
.email-input .input-text {
    background: #F8F8F8;
    border: 1px solid #d0d0d0;
    color: #747474;
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
    height: 27px;
    line-height: 27px;
    padding: 0px 12px;
    width: 100%;
    font-style: italic;
}
.form-email p {
    margin-bottom: 24px;
}
.form-email .email-btn {
    overflow: hidden;
    float: left;
    margin-top: 16px;
}
.email-btn .button-btn {
    background: #0086c4;
    border: none;
    border-radius: 20px;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 30px;
}
.share-box
{
    vertical-align: top;
    width: 100%;
}
.share-box a
{
    vertical-align: top;
    margin-right: 5px;
}
/*=============================*/
.mapbox 
{
    height: 400px;
    width: 100%;
}